name: CI - Tests, Build, Push & Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  # --- Étape 1 : Tests ---
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25

      - name: Run tests
        run: |
          go test ./... -coverprofile=coverage.out
          go tool cover -func=coverage.out

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.out

  # --- Étape 2 : Build & push app ---
  build-app:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push app image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: palleca/app_deploiment:latest

  # --- Étape 3 : Build & push proxy ---
  build-proxy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push proxy image
        uses: docker/build-push-action@v5
        with:
          context: ./reverse_proxy
          file: ./reverse_proxy/Dockerfile
          push: true
          tags: palleca/app_deploiment-proxy:latest

  # --- Étape 4 : Deploy ---
  deploy:
    runs-on: ubuntu-latest
    needs: [build-app, build-proxy] # attend app + proxy
    steps:
      - name: Deploy step
        run: |
          echo " Déploiement simulé terminé avec succès !"
          echo "App: palleca/app_deploiment:latest"
          echo "Proxy: palleca/app_deploiment-proxy:latest"
